.about{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 5rem;
}

.aboutContent{
    display: flex;
    width: 50%;
    height: 100%;
    gap: 5%
}

.aboutText{
    font-size: 2.5rem;
    width: 50%;
    text-align: justify;
}

.hunter{
    text-align: end;
}