.admin {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.adminDash {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: start;
    gap: .5rem;
    padding-top: 5rem;
}

.admininput {
    width: 20rem;
    height: 3rem;
    padding: 1rem;
    font-size: 2rem;
    background: black;
    color: white;
    border-radius: 10px;
}

.inputLabel {
    font-size: 2rem;
}

.adminSubmit {
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 1rem;
    background: black;
    color: white;
    border-radius: 10px;
    transition: .3s all;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(.95);
    }
}

.panelLabel {
    font-size: 5rem;
}

.adminButton {
    width: auto;
    height: auto;
    padding: .5rem 1.5rem;
    font-size: 2rem;
    border-radius: 5px;
    cursor: pointer;
}

.albumAdd {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.albumForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formGroup{
    width: 10rem;
}