.footer{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background: black;
    color: white;
    width: 100%;
    padding: 2rem 2rem;
    scroll-snap-align: start;
}

.footerText{
    font-size: clamp(0.2rem, .6rem, 1rem);

    @media (min-width: 769px) {
        font-size: clamp(0.2rem, 1.2rem, 1rem);
    }
}

a{
    text-decoration: none;
    color: lime;
}