.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-bottom: 2vh;
    scroll-snap-align: start;
}

.topBar {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
}

.backArrow {
    all: unset;
    display: flex;
    justify-content: center;

    // Toggle to turn on arrow
    opacity: 0;
    pointer-events: none;

    .arrowImage {
        height: 4rem;
        cursor: pointer;
    }
}

.pageHeader {
    font-size: 12.5rem;
    text-align: center;
}

.divider {
    width: 100%;
    height: 4rem;
    background: black;
}

.topThree {
    display: grid;

    width: 70%;
    grid-template-columns: repeat(3, 33.33%);
    margin: auto 0 auto 0;
}

.album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem
}

.albumImgHolder {
    background: red;
    outline: 3px black solid;
    height: 28rem;
    width: 28rem;
}

.textHolder {
    width: 28rem;
}

.albumTitle {
    font-size: 2.5rem;
    margin: 0;
}

.artistName {
    font-size: 1.875rem;
    opacity: 75%;
    margin: 0;
}

.albumImage{
    height: 100%;
    width: 100%;
}
.album{
    transition: .2s all ease-in;
}
.album:hover{
    transform: scale(1.1);
    cursor: pointer;
}

// Smaller album variant for type2
.album--small {
    .albumImgHolder {
        height: 18rem;
        width: 18rem;
    }

    .textHolder {
        width: 18rem;
    }

    .albumTitle {
        font-size: 2rem;
    }

    .artistName {
        font-size: 1.5rem;
    }
}

// Responsive styles for different device sizes
@media (max-width: 1200px) {
    .albumImgHolder {
        height: 24rem;
        width: 24rem;
    }

    .textHolder {
        width: 24rem;
    }

    .albumTitle {
        font-size: 2.2rem;
    }

    .artistName {
        font-size: 1.7rem;
    }

    .album--small {
        .albumImgHolder {
            height: 18rem;
            width: 18rem;
        }

        .textHolder {
            width: 18rem;
        }

        .albumTitle {
            font-size: 1.8rem;
        }

        .artistName {
            font-size: 1.3rem;
        }
    }
}

@media (max-width: 768px) {
    .albumImgHolder {
        height: 18rem;
        width: 18rem;
    }

    .textHolder {
        width: 18rem;
    }

    .albumTitle {
        font-size: 1.8rem;
    }

    .artistName {
        font-size: 1.4rem;
    }

    .album--small {
        .albumImgHolder {
            height: 14rem;
            width: 14rem;
        }

        .textHolder {
            width: 14rem;
        }

        .albumTitle {
            font-size: 1.5rem;
        }

        .artistName {
            font-size: 1.1rem;
        }
    }
}

@media (max-width: 480px) {
    .albumImgHolder {
        height: 12rem;
        width: 12rem;
    }

    .textHolder {
        width: 12rem;
    }

    .albumTitle {
        font-size: 1.5rem;
    }

    .artistName {
        font-size: 1.2rem;
    }

    .album--small {
        .albumImgHolder {
            height: 10rem;
            width: 10rem;
        }

        .textHolder {
            width: 10rem;
        }

        .albumTitle {
            font-size: 1.2rem;
        }

        .artistName {
            font-size: 1rem;
        }
    }
}


.bottomBar {
    display: grid;
    width: 95%;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.scrollArrow {
    all: unset;
    display: flex;
    justify-content: center;

    // Toggle to turn on arrow
    opacity: 1;
    pointer-events: all;

    .arrowImage {
        height: 4rem;
        cursor: pointer;
        transform: rotate(-90deg);
    }
}

.contactLink {
    font-size: 1.438rem;
    text-decoration: underline;
    color: black;
    opacity: 50%;
    align-self: flex-end;

    &:visited {
        color: black;
    }
}